.footer {
  position: relative;
  background-color: #0a2850;
  padding: 60px 80px;
  font-family: "Inter", Arial, sans-serif;
  overflow: hidden;
}

.footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__circle {
  position: absolute;
  top: -60px;
  left: -60px;
  width: 340px;
  height: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  z-index: 0;
}

.footer__social {
  z-index: 1;
  position: relative;
}

.footer__social-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__social-link {
  display: inline-block;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: flex;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 44px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__info {
  color: #6f6f6f;
  font-size: 16px;
  line-height: 20px;
  max-width: 300px;
}
