.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  height: 39px;
}

.nav__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 105px;
}
.nav__links {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
}

.nav__link {
  margin-left: 40px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
